body
  margin: 10px
  background-color: $bg
  overflow-x: hidden
header
  margin: 0 auto
  .logo
    display: block
    margin: auto
    text-align: center
nav
  +nav
  display: block
  margin: 20px auto
  max-width: 1200px

.slider
  display: flex
  justify-content: center
.toplinks
  display: flex
  justify-content: space-around

.page-home
  text-align: center
  section
    max-width: 1200px
    margin: 50px auto
    padding: 40px
    position: relative
    h1
      font-weight: 700
      line-height: 1
      margin: 20px 0
      letter-spacing: 1px
  img
    max-width: 100%
  .flex-video-wrap
    max-width: 640px
    display: inline-block
    width: 100%
  article
    margin-bottom: 50px
    &:last-child
      margin-bottom: 0px
  .main
    display: flex