@import 'bourbon'
*
  box-sizing: border-box
body
  background-color: $bg
  overflow-x: hidden
  height: 100%
header
  margin: 0 auto
  .logo
    display: block
    margin: auto
    text-align: center
    max-width: 799px
    max-height: 120px
    width: 100%
    height: 100%
h1
  font-size: 24px
  font-family: "Arial"
  color: rgb(0, 38, 83)
  line-height: 1.2
  text-align: left
h2
  font-size: 16px
  font-family: "Arial"
  color: rgb(0, 39, 83)
  line-height: 1.66
  text-align: left
h3 
  font-size: 20px
  font-family: "GoudyStd"
  color: rgb(113, 101, 88)
  font-weight: bold
  line-height: 1.2
  text-align: left

p 
  text-align: left
nav
  +nav
  display: block
  margin: 20px auto
  max-width: 1200px
  border-top: 1px solid #B8BB9D
  border-bottom: 1px solid #B8BB9D
  li:last-child
    a 
      padding: 10px 5px
      vertical-align: middle
      display: flex
  a 
    color: #706558
    padding: 10px  null
    img
      +size(20px)

.slider
  display: flex
  justify-content: center
  margin-bottom: 20px
  img
    max-width: 1500px
    max-height: 403px
    width: 100%
    height: 100%

.page-home
  text-align: center
  section
    max-width: 1200px
    margin: 0 auto
    position: relative
    h1
      font-weight: 700
      line-height: 1
      margin: 20px 0
      letter-spacing: 1px
  .flex-video-wrap
    max-width: 640px
    display: inline-block
    width: 100%
  article
    margin-bottom: 50px
    &:last-child
      margin-bottom: 0px
  .main
    display: flex
    &> section
      margin: 0px 20px
    .lhs
      max-width: 330px
      font-size: 16px
      font-family: "GoudyStd"
      color: rgb(113, 101, 88)
      line-height: 1
      text-align: left
      border-right: 1px solid #B8BB9D
      ul
        list-style: none
      li:before
        content: ""
        border-color: transparent #111
        border-style: solid
        border-width: 0.35em 0 0.35em 0.45em
        display: block
        height: 0
        width: 0
        left: -1em
        top: 0.9em
        position: relative
    .content
      max-width: 872px
  .toplinks
    flex-flow: row, wrap
    margin: 40px auto
    display: flex
    justify-content: space-around
    border-bottom: 1px solid #B8BB9D
    padding-bottom: 20px
    .thumb-unit
      display: block
      overflow: hidden
      position: relative
      margin: 2px
      &:hover .thumb-overlay
        +position(absolute, 0px 0px 0px 0px)
        +transition
    .thumb-overlay
      +position(absolute, 77% 0px null 0px)
      background-color: fade-out(rgb(1,1,1), 0.7)
      +transition
      strong
        text-align: center
        margin: 5px auto
        color: white
        font-size: 26px
    img 
      width: 100%
      max-height: 235px
      max-width: 325px
      height: 100%
      margin: 0px
      display: block
  .map
    max-width: 242px
    max-height: 241px
    width: 100%
    height: 100%
  .news
    border-top: 1px solid #B8BB9D
    h2
      font-size: 13px
      font-family: "Arial"
      color: rgb(0, 38, 83)
      line-height: 1.2
      text-align: left
    p 
      padding-right: 10px
  .subpage
    h2
      font-size: 24px
  .subarticle
    background-color: #002855
    max-width: 330px
    width: 330px
    margin: 20px 5px
    color: white
    padding: 30px 20px
    display: block
    height: 550px
    a 
      color: white
    img
      display: block 
      margin: 0 auto
      max-width: 293px
      max-height: 194px
      width: 100%
      height: 100%
.directions
  font-size: 16px
  font-family: "MoolBoran"
  color: rgb(112, 101, 88)
  line-height: .5
  letter-spacing: 1px
  text-align: left
  margin-left: 20px

.box-shadow-menu
  visibility: hidden
  position: relative
  padding-left: 1.25em
  position: fixed
  right: 20px
  top: 40px
  background-color: $bg
  border-radius: 10px
  color: black
  padding: 8.5px
  padding-left: 20px
  z-index: 99999999
  border: 2px solid white
.box-shadow-menu:before
  content: ""
  position: absolute
  left: .25em
  top: 1em
  width: 1em
  height: 0.15em
  background: black
  box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black
.open 
  right:  0px !important
.wrapper
  min-height: 100%
  margin: 0 auto -300px // the bottom margin is the negative value of the footer's height */
footer
  width: 100%
  margin: 0px
  position: absolute
  height: 300px
  display: flex
  background-color: #706558
  .footcontain
    margin: 0 auto
    width: 100%
    max-width: 1200px
    display: flex
    justify-content: space-between
    .left
      margin: 20px
    .right
      display: flex
      flex-direction: column
      text-align: right
      img
        margin-top: 20px
        margin-right: 0px
        margin-left: auto
        display: inline-block
      .foottext
        margin-top: 10px
      p 
        color: white
        text-align: right
        margin: 5px
@media (max-width: 1200px)
  .page-home
    .subarticle
      width: 250px
@media (max-width: 1063px)
  .page-home
    .subarticle
      width: 200px
@media (max-width: 1000px)
  .page-home
    .subarticle
      width: 160px
    ul
      margin-left: -25px
@media (max-width: 900px)
  .page-home
    section
      .thumb-overlay
        strong
          font-size: 20px !important 

@media (max-width: 860px)
  .page-home
    .subarticle
      width: 500px
  .box-shadow-menu
    visibility: visible
    z-index: 9
  .page-home
    section
      .thumb-overlay
        strong
          font-size: 14px !important
  .main
    flex-direction: column-reverse
  .map
    display: inline-block
    float: left
    margin: 0 auto !important
    text-align: center
  .locations
    float: left
    margin: 0 auto !important
  .lhs
    max-width: 90% !important
    width: 90%
    ul 
      clear: both
      margin: auto
      width: 90%
      max-width: 90%
  .navcontainer
    overflow: hidden
  nav
    position: fixed
    z-index: 999
    overflow: hidden
    right: -200px
    top: 20px
    padding: 10px
    background-color: darken($bg, 5%)
    +transition
    +border-left-radius(10px)
    ul
      flex-direction: column !important
      li 
        margin-right: 0px
        padding: 10px
        a 
          text-align: right
.rslides
  margin: 0 auto
  max-width: 1500px !important
  max-height: 403px !important
.top
  background-color: darken($bg, 10%)
  bottom: 2em
  color: #fff
  display: none
  opacity: 0.6
  padding: 1.5em 2em
  position: fixed
  right: 6em
  text-decoration: none
  z-index: 9999999999
  border: 1px solid black
  &:hover
    opacity: 1
    transition: 1s
@media (max-width: 750px)
  .directions
    line-height: 1
@media (max-width: 700px)
  footer
    .left
      display: none
    .right
      margin: 0 auto
      text-align: center
      img
        margin: 0 auto !important
      .foottext
        p
          text-align: center
@media (max-width: 564px)
  .lhs
    text-align: center !important
    border: none
  .map
    float: none
    display: inline-block !important
    text-align: center
  .locations
    float: none
    display: inline-block
  .arrows
    display: block
    text-align: left
  .news 
    margin-top: 20px

@media (max-width: 520px)
  .page-home
    section
      .thumb-overlay
        strong
          font-size: 10px !important