@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*! http://responsiveslides.com v1.54 by @viljamis */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

body {
  background-color: white;
  font-size: 14px;
  line-height: 1.6;
  font-family: "Fira Sans", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

a {
  color: #0074D9;
  text-decoration: none;
  outline: 0; }
  a:hover, a:focus {
    color: #40a6ff; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  .button:hover, .button:active, .button:focus,
  button:hover,
  button:active,
  button:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="button"]:hover,
  input[type="button"]:active,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }

.flex-video {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 56%;
  position: relative; }

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0; }

* {
  box-sizing: border-box; }

body {
  background-color: #ebece4;
  overflow-x: hidden;
  height: 100%; }

header {
  margin: 0 auto; }
  header .logo {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 799px;
    max-height: 120px;
    width: 100%;
    height: 100%; }

h1 {
  font-size: 24px;
  font-family: "Arial";
  color: #002653;
  line-height: 1.2;
  text-align: left; }

h2 {
  font-size: 16px;
  font-family: "Arial";
  color: #002753;
  line-height: 1.66;
  text-align: left; }

h3 {
  font-size: 20px;
  font-family: "GoudyStd";
  color: #716558;
  font-weight: bold;
  line-height: 1.2;
  text-align: left; }

p {
  text-align: left; }

nav {
  display: block;
  margin: 20px auto;
  max-width: 1200px; }
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden; }
    nav ul li {
      display: flex;
      margin: 0 auto; }
      nav ul li a {
        display: block;
        width: 100%;
        height: 100%; }

.slider {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
  .slider img {
    max-width: 1500px;
    max-height: 403px;
    width: 100%;
    height: 100%; }

.page-home {
  text-align: center; }
  .page-home section {
    max-width: 1200px;
    margin: 0 auto;
    position: relative; }
    .page-home section h1 {
      font-weight: 700;
      line-height: 1;
      margin: 20px 0;
      letter-spacing: 1px; }
  .page-home .flex-video-wrap {
    max-width: 640px;
    display: inline-block;
    width: 100%; }
  .page-home article {
    margin-bottom: 50px; }
    .page-home article:last-child {
      margin-bottom: 0px; }
  .page-home .main {
    display: flex; }
    .page-home .main > section {
      margin: 0px 20px; }
    .page-home .main .lhs {
      max-width: 330px;
      font-size: 16px;
      font-family: "GoudyStd";
      color: #716558;
      line-height: 1;
      text-align: left; }
      .page-home .main .lhs ul {
        list-style: none; }
      .page-home .main .lhs li:before {
        content: "";
        border-color: transparent #111;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.45em;
        display: block;
        height: 0;
        width: 0;
        left: -1em;
        top: 0.9em;
        position: relative; }
    .page-home .main .content {
      max-width: 872px; }
  .page-home .toplinks {
    flex-flow: row, wrap;
    margin: 40px auto;
    display: flex;
    justify-content: space-around; }
    .page-home .toplinks .thumb-unit {
      display: block;
      overflow: hidden;
      position: relative;
      margin: 2px; }
      .page-home .toplinks .thumb-unit:hover .thumb-overlay {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s; }
    .page-home .toplinks .thumb-overlay {
      position: absolute;
      top: 77%;
      right: 0px;
      left: 0px;
      background-color: rgba(1, 1, 1, 0.3);
      -webkit-transition: all 0.15s ease-out 0s;
      -moz-transition: all 0.15s ease-out 0s;
      transition: all 0.15s ease-out 0s; }
      .page-home .toplinks .thumb-overlay strong {
        text-align: center;
        margin: 5px auto;
        color: white;
        font-size: 26px; }
    .page-home .toplinks img {
      width: 100%;
      max-height: 235px;
      max-width: 325px;
      height: 100%;
      margin: 0px;
      display: block; }
  .page-home .map {
    max-width: 242px;
    max-height: 241px;
    width: 100%;
    height: 100%; }
  .page-home .news h2 {
    font-size: 13px;
    font-family: "Arial";
    color: #002653;
    line-height: 1.2;
    text-align: left; }
  .page-home .subpage h2 {
    font-size: 24px; }
  .page-home .subarticle {
    background-color: #002855;
    max-width: 330px;
    width: 330px;
    margin: 20px 5px;
    color: white;
    padding: 20px; }
    .page-home .subarticle a {
      color: white; }
    .page-home .subarticle img {
      display: block;
      margin: 0 auto;
      max-width: 293px;
      max-height: 194px;
      width: 100%;
      height: 100%; }

.directions {
  font-size: 16px;
  font-family: "MoolBoran";
  color: #706558;
  line-height: 0.5;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 20px; }

.box-shadow-menu {
  visibility: hidden;
  position: relative;
  padding-left: 1.25em;
  position: fixed;
  right: 20px;
  top: 40px;
  background-color: #ebece4;
  border-radius: 10px;
  color: black;
  padding: 8.5px;
  padding-left: 20px;
  z-index: 99999999;
  border: 2px solid white; }

.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0.25em;
  top: 1em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black; }

.open {
  right: 0px !important; }

.wrapper {
  min-height: 100%;
  margin: 0 auto -300px; }

footer {
  background-color: #706558;
  width: 100%;
  margin: 0px;
  height: 300px;
  position: absolute;
  display: flex;
  justify-content: space-between; }
  footer .left {
    margin: 20px; }
  footer .right {
    display: flex;
    flex-direction: column;
    align-content: center; }
    footer .right img {
      align-left: flex-end;
      position: absolute;
      right: 10px;
      margin: 20px 10px 10px 10px; }
    footer .right .foottext {
      margin-top: 130px; }
    footer .right p {
      color: white;
      text-align: right;
      margin: 2px 10px; }

@media (max-width: 1200px) {
  .page-home .subarticle {
    width: 250px; } }
@media (max-width: 1063px) {
  .page-home .subarticle {
    width: 200px; } }
@media (max-width: 1000px) {
  .page-home .subarticle {
    width: 160px; }
  .page-home ul {
    margin-left: -25px; } }
@media (max-width: 900px) {
  .page-home section .thumb-overlay strong {
    font-size: 20px !important; } }
@media (max-width: 860px) {
  .page-home .subarticle {
    width: 500px; }

  .box-shadow-menu {
    visibility: visible;
    z-index: 9; }

  .page-home section .thumb-overlay strong {
    font-size: 14px !important; }

  .main {
    flex-direction: column-reverse; }

  .map {
    display: inline-block;
    float: left;
    margin: 0 auto !important;
    text-align: center; }

  .locations {
    float: left;
    margin: 0 auto !important; }

  .lhs {
    max-width: 90% !important;
    width: 90%; }
    .lhs ul {
      clear: both;
      margin: auto;
      width: 90%;
      max-width: 90%; }

  .navcontainer {
    overflow: hidden; }

  nav {
    position: fixed;
    z-index: 999;
    overflow: hidden;
    right: -160px;
    top: 20px;
    padding: 10px;
    background-color: #e0e1d5;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; }
    nav ul {
      flex-direction: column !important; }
      nav ul li {
        margin-right: 0px;
        padding: 10px; }
        nav ul li a {
          text-align: right; } }
.rslides {
  margin: 0 auto; }

@media (max-width: 750px) {
  .directions {
    line-height: 1; } }
@media (max-width: 700px) {
  footer .left {
    display: none; } }
@media (max-width: 564px) {
  .lhs {
    text-align: center !important; }

  .map {
    float: none;
    display: inline-block !important;
    text-align: center; }

  .locations {
    float: none;
    display: inline-block; }

  .arrows {
    display: block;
    text-align: left; } }
@media (max-width: 520px) {
  .page-home section .thumb-overlay strong {
    font-size: 10px !important; } }
